/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

/*-------------- CSS Reset -----------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
header {
    display: flex;
    justify-content: space-between; /* Elemente auf die rechte und linke Seite verteilen */
    align-items: center; /* Elemente vertikal zentrieren */
    padding: 20px; /* Kleiner Abstand zum Rand */
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------- CSS Reset END -----------------*/

/*-------------- Global Color -----------------*/

:root {
    --White: #FDFDFD;
    --Green: #00FFC2;
    --Black: #000;
    --text-dark: #121212;
    --Red: #C75353;
}

/*-------------- Global Color END -----------------*/

/*-------------- Global typography -----------------*/

/* Lemon Schriftart */
@font-face {
    font-family: 'Lemon';
    src: url('../fonts/Lemon/Lemon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Schriftart */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Oswald Schriftart */
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/* Haupttitel Landing Page*/
h1 {
    font-family: 'Lemon', cursive;
    text-align: center;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--White);
}

h2 {
    color: var(--text-dark);
    /* Übertitel Pages */
    font-family: 'Lemon';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Button Text */
h3 {
    color: var(--Black, #000);
    text-align: center;
    font-family: 'Lemon';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    /* Untertitel Kleine Buttons */
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h5 {
    color: var(--text-dark);
    text-align: center;
    font-family: 'Lemon';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    color: var(--text-dark);
    text-align: center;
    font-family: Oswald;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h7 {
    color: var(--text-dark);
    text-align: center;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    
}

.textklein {
    color: var(--Black, #000);
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}

a {
    text-decoration: none;
}

.profileinstellungen {
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
}



.grün {
    background-color: var(--Green)
}

.rot {
    background-color: var(--Red);
}

h6.rot {
    color: var(--White);
}

.schwarz {
    background-color: var(--Black);
}

h6.schwarz {
    color: var(--Green);
}



/*-------------- Global typography END -----------------*/

