:root {
    --White: #FDFDFD;
    --Green: #00FFC2;
    --Black: #000;
    --text-dark: #121212;
    --Red: #C75353;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.weiterButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Green);
    width: 207px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.carousel {
    display: flex;
    width: 300%; /* 100% for each slide */
    margin: 56px;
}

.slide {
    height: 373px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.4s;
}

h6 {
    color: var(--White);
}

/* Style the SVG within the slide */
.slide img {
    width: 100%;
    height: 100%;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--Green);
}

