:root {
    --White: #FDFDFD;
    --Green: #00FFC2;
    --Black: #000;
    --text-dark: #121212;
    --Red: #C75353;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

input {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--Green, #00FFC2);
    margin-bottom: 10px;
}


.profileinstellungen {
    display: flex;
    width: 350px;
    height: 40px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

h6 {
    padding: 0% 3%;
}
