:root {
    --White: #FDFDFD;
    --Green: #00FFC2;
    --Black: #000;
    --Red: #C75353;
}

h2 {
    text-align: center;
}

.textklein {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 102vh;
}

.container_deleteaccount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.untertitel {
    text-align: center;
}

input {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--Green, #00FFC2);
    margin-bottom: 10px;
}

.speichernButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 18px;
}

.profilname {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.weitereButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
}

.profileinstellungen {
    display: flex;
    width: 350px;
    height: 40px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.profileinstellungengross {
    display: flex;
    width: 282px;
    height: 140px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

.rotgross {
    background-color: var(--Red); 
    color: var(--White);
}

.schwarzgross {
    background-color: var(--Black);
    color: var(--Green);
}

.speichernButton h5 {
    color: var(--Green);
}


h6 {
    padding: 0% 3%;
}

#ausgabefeld {
    margin-top: 5%;
}


#logoutButton {
    cursor: pointer;
}


