:root {
    --White: #FDFDFD;
    --Green: #00FFC2;
    --Black: #000;
    --text-dark: #121212;
    --Red: #C75353;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_profileinstellungen {
    width: 30%;
}

.profileinstellungen{
    margin-bottom: 10%;
}

h6 {
    padding: 0% 3%;
}
